.container
    .panel.panel-default.home-panel
        .panel-heading.clearfix
                .pull-right
                    input.search(type='text', ng-model='query.username', placeholder='Search...')
        .panel-body
            .row.show-list
                .fade-repeat(ng-repeat='user in allusers | filter:query ')
                    ul
                        li
                            a(href='/public/user/{{user._id}}' ng-bind="user.username")
                        ul(ng-repeat='offer in user.offers') 
                            li(ng-show="$last")
                                a(href='/public/offer/{{offer}}') Last Offer