div.fade-repeat.col-xs-4.col-md-3
   div.text-center
      p.text-muted  token: {{info.token}}
      p.text-muted  id: {{info.user_id}}
      p.text-muted  email: {{info.email}}
      p.text-muted  nickname: {{info.nickname}}
      p.text-muted  offers: {{info.offers}}
