.container
   .panel.panel-default
      .panel-heading Add TV Show
      .panel-body
         .col-xs-4.col-md-4
            form.form(method='post', ng-submit='editUser()', name='addForm')
               .form-group(ng-class="{ 'has-error' : addForm.showName.$invalid && addForm.showName.$dirty }")
                  label.control-label Token
                  input.form-control(type='text', name='token', placeholder='Enter TV show name', ng-value='info.token', autofocus, ng-disabled='true')
                  label.control-label.user-form-label Id
                  input.form-control(type='text', name='user_id', placeholder='Enter TV show name', ng-value='info.user_id', autofocus, ng-disabled='true')
                  label.control-label.user-form-label Email
                  input.form-control(type='text', name='email', placeholder='Enter nickname', ng-model='info.email', autofocus, required ,ng-disabled='true')
                  label.control-label.user-form-label Nickname
                  input.form-control(type='text', name='nickname', placeholder='Enter nickname', ng-model='info.nickname', autofocus, required ,ng-disabled='true')
                  label.control-label.user-form-label Description
                  input.form-control(type='text', name='description', placeholder='Enter description', ng-model='info.description', autofocus ,ng-disabled='')
               .bs-example
                  button.btn.btn-primary(type='submit', ng-disabled='addForm.$invalid') Edit Account
            button.btn.btn-danger(type='submit', ng-click='deleteUser()') Delete Account
         .col-xs-4.col-md-4 Offers
         .col-xs-4.col-md-4 Interest
//
//
//div.fade-repeat.col-xs-4.col-md-3
//   p.text-muted  token: {{info.token}}
//   p.text-muted  id: {{info.user_id}}
//   p.text-muted  email: {{info.email}}
//   p.text-muted  nickname: {{info.nickname}}
//   p.text-muted  offers: {{info.offers}}
//   p.text-muted  description: {{info.description}}
