doctype html
html(lang="en" ng-app="petsIO")
   head
      meta(charset="utf-8")
      title petsIO
      link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="/bower_components/jquery/dist/jquery.js")
      script(src="/bower_components/angular/angular.js")
      script(src="/bower_components/angular-animate/angular-animate.js")
      script(src="/bower_components/angular-route/angular-route.js")
      script(src="/bower_components/angular-resource/angular-resource.js")
      script(src="/javascripts/app.js")
   body
      section
         h1 petsIO!
