.container
   .panel.panel-default
      .panel-heading Offer
      .panel-body
        p(ng-bind="singleOffer.offer.name")
        a(ng-href="/public/user/{{singleOffer.offer.user}}") Offer Creator         
            